url=https://portal-api.backup.sto2.safedc.net
client_id=api-key
username=username@userdomain.com
password=secretPa$$word

client_name=safespring-test-klient
client_origin=https://safespring.com
debug=true
create=true
